/**
  ========================
  The numbers indicate elements belongs to:
  0: Top Navigation Bar
  1: Home Page
  2. Sign Up Window
  999: Modal
  ========================
**/
/* ============================================ */
/* 0. NavBar */
.navbar {
  min-height: 80px !important;
  border-radius: 0 !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  margin-left: 30px;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.navbar-brand > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  color: #4D4D4D;
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand > img {
  display: inline-block !important;
  margin-right: 10px;
}

/* 0. SearchBar */
.searchBar-container {
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-control {
  min-height: 48px !important;
  width: 45vw !important;
  border-radius: 3px;
  border: none !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #767676;
  z-index: 0 !important;
}

/* 0. Profile Buttons */
.buttonContainer {
  float: right;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bt-login {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #4D4D4D !important;
  padding: 10px 30px;
  text-decoration: none !important;
  border: none;
}
.bt-login:focus { outline:none; }
.bt-signup {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #4D4D4D !important;
  border-style: solid;
  border-width: 2px;
  border-color: #4D4D4D;
  border-radius: 50px;
  padding: 8px 30px;
  text-decoration: none !important;
}
.bt-signup:focus { outline:none; }
/* ============================================ */
/* 1. Popular Items */
.popContainer {
  margin-left: 12vmin;
  margin-top: 10vmin;
}
.popContainer > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #4D4D4D;
}

/* 1. Home Page Arts */
.homePageArts {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
/* ============================================ */
/* 2. SignupWindow */
.windowCloseButton {
  width: 22px;
  height: 22px;
  background: url(../src/img/close_modal_button.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border: 0;
}

/* 2. Sign up submit button */
.signupSubmitButton {
  position: absolute;
  bottom: 45px;
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 3px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  background: linear-gradient(to right, #996CFD, #FF6287);
}
/* ============================================ */
/* 999. Modal */
.Modal {
  width: 550px;
  height: 650px;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  background-color: #fff;
  padding: 45px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

/* Remove all button defualt styles */
input, button, submit { border: none; }
