/**
  ========================
  The numbers indicate elements belongs to:
  0: Top Navigation Bar
  1: Home Page
  2. Sign Up & Login
  3. Search Page & Search Page Items
  4. Searched Item Detail Page
  5. Profile Page
  ========================
**/
/* ============================================ */
/* 0. NavBar */
.navbar {
  min-height: 72px !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  border: none !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  min-height: 68px !important;
  margin-left: 30px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.navbar-brand > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  color: #4D4D4D;
  display: inline-block;
  vertical-align: middle;
}
.brandAppear {
  width: 99px;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition: 0.4s;
  overflow: visible;
}
.brandDisappear {
  width: 0px;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}

.navbar-brand > img {
  display: inline-block !important;
  margin-right: 10px;
}

/* 0. SearchBar */
.searchBar-container {
  margin-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-control.searchBar {
  min-height: 48px !important;
  width: 45vw !important;
  border-radius: 3px;
  border: none !important;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #767676;
  padding-left: 20px;
}
.navbar-nav {
  float: none !important;
  height: 0 !important;
}
.navbar-nav .nav-item {
  float: left;
}
/* 0. Profile Buttons */
.buttonContainer {
  float: right;
  margin-right: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
}
#bt-login {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #4D4D4D !important;
  padding: 10px 30px;
  text-decoration: none !important;
  border: none;
  background-color: #fff;
}
#bt-login:focus { outline:none; }
#bt-signup {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #4D4D4D !important;
  border-style: solid;
  border-width: 2px;
  border-color: #4D4D4D;
  border-radius: 50px;
  padding: 8px 30px;
  text-decoration: none !important;
  background-color: #fff;
}
#bt-signup:focus { outline:none; }
#bt-profile { background: none; }
#bt-sell { background: none; }
/* ============================================ */
/* 1. Popular Items */
.popContainer {
  margin-left: 12vmin;
  margin-top: 10vmin;
}
.popContainer > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #4D4D4D;
}

/* 1. Home Page Arts */
.homePageArts {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

/* 1. Home Page Popular Items*/
.col-md-2 {
  text-align: center;
  min-width: 230px;
}
.itemContainer {
  margin-top: 20px;
  display: inline-block;
  width: 180px;
  text-align: left;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}
.itemImg {
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.itemName {
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  color: #565656;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
  font-size: 14px;
}
.itemViews {
  margin-top: 3px;
  margin-left: 15px;
  margin-bottom: 12px;
  float: left;
  color: #949494;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 1.5px !important;
  font-size: 10px;
}
.itemPrice {
  margin-right: 10px;
  margin-bottom: 12px;
  float: right;
  color: #565656;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 3px !important;
  font-size: 14px;
}

/* ============================================ */
/* 2. Form */
.Login, .Signup > form {
  text-align: center !important;
  padding-top: 80px;
}
.form-control.allField {
  width: 460px !important;
  height: 45px !important;
  border-radius: 50px !important;
  margin: auto auto 20px auto !important;
  padding-left: 20px !important;
  border-color: #AAA !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200 !important;
  letter-spacing: 1px !important;
}
.help-block {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200 !important;
}

/* 2. Submit button */
.SubmitButton {
  margin-top: 20px !important;
  width: 460px !important;
  height: 45px !important;
  margin: 40px auto auto auto !important;
  padding: 10px 30px !important;
  border-radius: 50px !important;
  border: none !important;
  color: #FFF !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
}
.SubmitButton:focus { outline:none !important; }
.signupBtn { background: linear-gradient(to right, #996CFD, #FF6287) !important; }
.loginBtn { background: linear-gradient(to right, #35BBF4, #00EDD7) !important; }

/* 2. Loading Animation */
.LoaderButton .spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
/* ============================================ */
/* 3. Search Page Container */
.container-fluid {
  margin: 60px 150px;
}

/* 3. Search Page Items */
.col-md-4 {
  text-align: center;
}
.SPItemContainerAni {
  border-radius: 5px;
  width: 330px;
  padding: 25px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.SPItemContainerAni:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}
.SPItemContainerAni:hover .SPItemImg {
  border-style: none;
}
.SPItemContainer {
  display: inline-block;
  width: 280px;
  text-align: left;
}
.SPItemImg {
  width: 280px;
  height: 280px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ACACAC;
}
.SPItemName {
  margin-top: 12px;
  margin-bottom: 0px;
  color: #262626;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  font-size: 18px;
}
.SPItemTag {
  height: 23px;
  border-radius: 100px;
  background-color: #4D4D4D;
  display: inline-block;
  padding: 0px 10px;
  margin-top: 3px;
  margin-bottom: 6px;
}
.SPItemTagName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 1px !important;
  font-size: 12px;
  color: #fff;
}
.SPItemDescr {
  max-height: 45px;
  width: 280px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 1px !important;
  font-size: 12px;
  color: #464646;
  margin-bottom: 5px;
}
.SPItemPrice {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
  letter-spacing: 1.5px !important;
  font-size: 18px;
  color: #000;
  width: 280px;
  text-align: right;
  margin-bottom: 0px;
}
/* ============================================ */
/* 4. Searched Page Item Detail Page */
.itemDetailPage {
  padding-top: 30px;
  padding-bottom: 30px;
}
.itemDetailTopBar {
  margin-left: 2%;
}
.backButton {
  display: inline-block;
  background-color: #4D4D4D;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 9px 11px 11px 9px;
}
.backBT-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.backnTag {
  display: inline-block;
  margin-left: 15px;
  margin-right: 9px;
  padding: 7.5px 0px;
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 3px !important;
  font-size: 18px;
}
.itemDetailPage {
  margin: 0;
}
.galleryContainer {
  margin-top: 35px;
  text-align: center;
}
.gallery-img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.title-n-detail {
  margin-top: 35px;
  height: 500px;
}
.item-detail-title {
  color: #262626;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 32px;
  margin: 0;
  line-height: normal;
  width: 80%;
}
.sub-title-container {
  margin-top: 8px;
  width: 80%;
}
.detail-views {
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2.5px;
  font-size: 18px;
}
.price-n-buy-btn-container {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 80%;
}
.detail-price {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 2.5px;
  font-size: 30px;
  vertical-align: middle;
}
.buy-button {
  background: linear-gradient(to right, #996CFD, #FF6287) !important;
  width: 120px !important;
  height: 50px !important;
  margin: auto !important;
  padding: 10px 30px !important;
  border-radius: 50px !important;
  border: none !important;
  color: #FFF !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  font-size: 18px !important;
  letter-spacing: 3px !important;
  float: right;
}
.buy-button:focus { outline:none !important; }
.item-detail-seller-container {
  margin-top: 35px;
}
.seller-card-view {
  background-color: #FDFDFC;
  border-radius: 5px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 80%;
}
.seller-card-container {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 11%;
	top: 10%;
  text-align: center;
  padding: 5% 5%;
}
.seller-card-img-container {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.seller-card-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.seller-card-verifed-img {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 90px;
  left: 90px;
}
.seller-card-verifed-label {
  margin-top: 2px;
  display: block;
  color: #5D93FE;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
}
.seller-card-id-container {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}
.seller-card-id-n-date-label {
  margin: 0;
  margin-bottom: 2px;
  color: #565656;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 20px;
}
.seller-card-id {
  margin: 0;
  color: #4A90E2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2.7px;
  font-size: 18px;
  text-decoration: underline;
}
.seller-card-date {
  color: #565656;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2.7px;
  font-size: 18px;
}
.item-descr-container {
  margin-top: 35px;
  padding: 0 5% !important;
}
.item-descr-label {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 22px;
}
.item-descr-body {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
}
/* ============================================ */
/* 5. Profile Page */
.profile-page-container {
  padding: 0 !important;
  margin: 0 0 !important;
}
.side-panel {
  height: 100vh;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 60px 0px !important;
}
.bt-profile-panel {
  width: 100%;
  padding: 20px 0px 20px 50px;
  margin-bottom: 20px;
  text-align: left;
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 20px;
}
.bt-profile-panel:focus { outline:0; }
.bt-panel-clicked {
  -webkit-transition-duration: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: #996CFD;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
}

/* 5. Edit Profile Page */
.edit-profile-container {
  padding: 70px !important;
  margin: 0 0 !important;
  height: 100%;
}
.editLabel {
  display: inline-block;
  width: 150px;
  text-align: right;
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 17px;
}
.editField {
  display: inline-block !important;
  width: 460px !important;
  height: 45px !important;
  border-radius: 50px !important;
  margin-left: 20px;
  padding-left: 20px !important;
  border-color: #AAA !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200 !important;
  letter-spacing: 1px !important;
}
.editFieldPLUS {
  background-color: #AAAAAA;
  color: #FFF;
}
.editFieldPLUS > span {
  line-height: 45px;
  vertical-align: middle;
}
.descrLabel {
  display: block;
  width: 440px !important;
  color: #767676;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 180px;
  margin-bottom: 40px;
}
.saveButton {
  margin-top: 20px !important;
  width: 100px !important;
  height: 45px !important;
  margin: 40px auto auto auto !important;
  padding: 10px 30px !important;
  border-radius: 50px !important;
  border: none !important;
  color: #FFF !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
}
.saveButton:focus { outline:none !important; }

/* 5. Sell page */
.sell-page-container {
  padding: 0px 70px !important;
  margin: 0 0 !important;
  height: 100%;
}
.sellItemImg {
  width: 230px;
  height: 230px;
  object-fit: contain;
}
.sellItemContainer {
  margin-top: 80px;
  display: inline-block;
  width: 230px;
  text-align: left;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}
.cancelContainerFluidMargin {
  margin: 0;
}
.edit-item-btn {
  width: 230px;
  height: 40px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
  background: linear-gradient(to right,  rgb(58, 202, 253), rgb(26, 161, 236)) !important;
}
.edit-item-btn:focus { outline:none !important; }
.profile-edit-img {
  height: 200px;
  width: 200px;
  /*object-fit: contain;*/
  /* BUG 6 + 7: profile picture display  */
  object-fit: none;
}

.edit-item-page-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.post-new-item-label {
  color: #565656;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  margin-bottom: 50px;
}
/* ============================================ */
/* Remove all button defualt styles */
input, button, submit { border: none; }
